=page_header 'System Users', new_user_path
#users-list
  .row
    .col-xs-12.col-lg-6
      %input.search.form-control{placeholder: 'Search'}
  .row
    .col-xs-12
      %table.table.table-striped
        %thead
          %tr
            %th Email
            %th Name
            %th Last login
            %th
        %tbody.list
          -@users.each do |user|
            %tr
              %td.email=user.email
              %td.name=user.name
              %td=user.last_login
              %td.action-links
                -if user != current_user
                  =link_to fa_icon('pencil'), edit_user_path(user)
                  =link_to fa_icon('trash-o'), user_path(user), method: 'delete', data: { confirm: "Do you really want to delete '#{user.email}'?"}
                -else
                  =link_to fa_icon('pencil'), edit_user_profile_path