.page-header
  %h1
    System Users
    =link_to fa_icon('plus')+' New', new_user_path, class: 'pull-right btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th Email
  %tbody
    -@users.each do |user|
      %tr
        %td=user.email