!!! 5
%html
  %head
    %title Oliver
    =stylesheet_link_tag "application", media: "all"
    =stylesheet_link_tag "//fonts.googleapis.com/css?family=Oswald"
    =stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto+Slab"
    =stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    #content
      .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
        .container
          .navbar-header
            %button.navbar-toggle{data:{toggle: 'collapse', target: '.navbar-collapse'}}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to 'Oliver', root_path, class: 'navbar-brand'
          .collapse.navbar-collapse
            -if current_user
              =navbar
              %p.navbar-widget.pull-right #{current_user.email} #{link_to '[logout]', destroy_user_session_path, method: 'delete'}


      .container
        =yield
